name: main
# This workflow is triggered on pushes to the repository.
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  build:
    # Job name is Greeting
    name: Check
    # This job runs on Linux
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'      # This step prints an output (time) from the previous step's action.
      - run: npm install
      - name: Validate
        uses: ./
